#!/usr/bin/env bash

# File navigation
alias ..='cd ..'
alias ~='cd ~'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ds='cd Documents/src'
alias l='ls -alh'
alias sl='ls'

# Override existing commands
alias mv='mv -i'
alias mkdir='mkdir -p'
alias df='df -h'
alias cp='cp -i'

# Git
alias g='git'
alias gc='git commit -m'
alias gcam='git commit -am'
alias gs='git status'
alias ga='git add'
alias gl='git log'
alias gp='git push'

# Misc
alias v='vim'
alias t='tmux'
alias ta='tmux a'
alias tl='tmux ls'
alias ts='tmux new -s'
alias python='python3'
alias pip='pip3'
